# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:your-project-123 # team: gilbert-silver, project: shrtnurl

VITE_CONVEX_URL=https://your-project.convex.cloud

VITE_CONVEX_SITE_URL=https://your-project.convex.site

# Clerk API
VITE_CLERK_PUBLISHABLE_KEY=pk_test_xxx