@import "tailwindcss";

@theme {
  --color-primary: #df2582;
  --color-secondary: #FFBF00;
  --color-accent: #A7A8CD;
  --color-teal: rgb(3, 142, 125);
  --color-blue: rgba(17, 121, 191, 1);
  --color-soft-bg: #faf9ff;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: var(--color-soft-bg);
}